@import "desktop.css";

header{
  width: 380px;

}

main{
  width: 380px;
}

footer{
  width: 380px;
}

nav ul li{
  display: block;
  text-align: center;

}

#grid1, #grid2, #grid3, #grid4{

  width: 380px;
  display: block;

}

#grid3, #grid4{

  width: 380px;
  display: block;
  margin-left: 0px;


}

#grid5{

  Width: 380px;
  display: block;
}

#grid1 img{
  width: 100px;
}

#grid2 img{
  width: 100px;
}

#grid3 img{
  width: 100px;
}
